button {
    outline: none;
    border : 0;

    &:focus {
        outline: none;
    }
}

.cursor {
    &-pointer:hover {
        cursor: pointer;
    }
}

.disable {
    cursor : not-allowed !important;
    opacity: .7;
}

.btn {
    &-circle {
        border-radius: 50%;
    }
}