:root {
    --dark-shadow       : 0 0.5rem 1rem rgb(0, 0, 0, 0.2);
    --light-shadow      : #D4D4F7 0 0.25rem 0.5rem 0;
    --hover-light-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 12px 28px rgba(0, 0, 0, 0.2);
}

.bs {
    &-light {
        box-shadow: 0 1px 2px var(--light-shadow);
    }

    &-dark {
        box-shadow: var(--dark-shadow);
    }
}