@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.answers-width {
    width: calc(((100vw - 17rem)) / 3);
}

.default-transition {
    transition: all .3s ease-in;
}

.main {
    font-family: 'Poppins', sans-serif;
    height     : calc(100vh - 3rem);

    .header {
        .logo {
            h3:hover {
                transform: scale(1.2);
            }
        }

        .menu {

            &__link.active {
                font-weight: bold;
                border-top : 3px solid var(--primary-color);
            }
        }

        .search {
            &-icon {
                padding: 0.25rem 0.35rem;
            }

            .call {
                padding: 0.25rem 0.5rem;
            }
        }
    }

    .questionnaire {
        .question {
            &__answers {

                /* 
                [
                    view width -
                    [
                        + 1.5rem (main's margin) 
                        + 6rem (questionnaire's padding) 
                        + 2rem (:nth-child(2)'s margin)
                    ]
                ] / 3 (3 options answer)
                */

                .answer {
                    &.selected {
                        color           : white;
                        background-color: var(--primary-color);

                        border: 1px solid var(--primary-color);
                    }
                }

                &:nth-child(even) {
                    margin: 0 1rem;
                }

                &:hover {
                    background-color: var(--primary-color);
                    border          : 1px solid var(--primary-color);
                }
            }
        }

        .progress {
            &__bar {
                &--slider {
                    width: 0%;
                }
            }
        }
    }
}