@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.main {
    font-family     : 'Poppins', sans-serif;
    background-color: #fff;
    margin          : 3rem 4rem;
    border-radius   : 1.5rem;
    box-shadow      : var(--hover-light-shadow);

    height: calc(100vh - 6rem);

    .header {
        padding    : 2rem 6rem;
        cursor     : pointer;

        .logo {
            font-size: 15px;
            flex     : 1;

            h3 {
                display: inline-block;
                outline: none;
            }

            h3:hover {
                transform : scale(1.2);
                transition: all .3s ease-in;
            }
        }

        .menu {
            flex           : 2;
            justify-content: center;

            &__link,
            &__link:active,
            &__link:link {
                font-size     : 13px;
                text-transform: uppercase;
                padding       : 0.5rem 0;
                margin        : 0 1.25rem;
    
                &:hover {
                    cursor    : pointer;
                    opacity   : 0.8;
                    transition: all .2s ease-in;
                }
            }

            &__link.active {
                font-weight: bold;
                border-top: 3px solid var(--primary-color);
            }
        }


        .search {
            flex           : 1;
            justify-content: flex-end;

            button {
                background: none;
                border    : 1px solid #ddd;
            }

            &-icon {
                padding      : 0.25rem 0.35rem;
                border-radius: 50%;

                svg.icon {
                    width : 15px;
                    height: 15px;
                }
            }

            .call {
                margin-left   : 1rem;
                font-weight   : bold;
                font-size     : 12px;
                text-transform: uppercase;
                padding       : 0.25rem 0.5rem;
                border-radius : 1rem;
            }
        }
    }

    .questionnaire {
        padding       : 4rem 6rem 0;
        display       : flex;
        flex-direction: column;
        align-items   : center;
        text-align    : center;

        .question {
            &__heading {
                font-size: 2rem;
            }

            &__q {
                font-size: 16px;
            }

            &__answers {

                /* 
                [
                    view width - 5rem (main's margin) 
                    - 6rem (questionnaire's padding) 
                    + 2rem (:nth-child(2)'s margin)
                ]
                    / 3 (3 options answer)
                */

                width          : calc(((100vw - 10rem) - (6rem * 2 + 2rem)) / 3);
                display        : flex;
                flex-direction : column;
                align-items    : center;
                justify-content: center;
                border         : 1px solid #ddd;

                &--img {
                    padding: 1.75rem 0;
                }

                .answer {
                    padding-bottom: 1rem;

                    &.selected {
                        border          : 1px solid var(--primary-color);
                        background-color: var(--primary-color);
                        color           : white;
                    }
                }

                &:nth-child(even) {
                    margin: 0 1rem;
                }

                &:hover {
                    border          : 1px solid var(--primary-color);
                    background-color: var(--primary-color);
                    transition      : all .3s ease-in-out;
                    cursor          : pointer;

                    .answer {
                        font-weight: bold;
                        color      : white;
                    }
                }
            }
        }

        .actions {
            button.previous {
                background-color: white;
                border          : 1px solid #ddd;

                .icon {
                    fill: var(--primary-color);
                }
            }

            button.next {
                background-color: var(--primary-color);
                color           : white;
                padding         : 0 4rem;
                margin-left     : 1rem;
            }
        }

        .progress {
            &__bar {
                width           : calc(((100vw - 10rem) - (6rem * 2 + 2rem)) / 3);
                height          : 10px;
                background-color: #F5F6FA;

                &--slider {
                    width : 0%;
                    height: inherit;
                    background-color: var(--primary-color);
                }
            }

            &__actions {
                width          : calc(((100vw - 10rem) - (6rem * 2 + 2rem)) / 3);
                display        : flex;
                justify-content: space-between;
                text-transform : uppercase;
                font-weight    : bold;
                font-size      : 11px;
                color          : var(--color-grey);
            }
        }
    }
}