@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.main {
    font-family     : 'Poppins', sans-serif;
    background-color: #fff;
    margin          : 1rem 4rem;
    border-radius   : 1.5rem;

    .header {
        font-weight: bold;
        padding    : 2rem 4rem;
        cursor     : pointer;

        .logo {
            font-size: 15px;
            flex     : 1;

            h3 {
                display: inline-block;
                outline: none;
            }

            h3:hover {
                transform : scale(1.2);
                transition: all .3s ease-in;
            }
        }

        .menu {
            flex           : 2;
            justify-content: center;
        }

        .menu__link {
            font-size     : 13px;
            text-transform: uppercase;
            padding       : 0.5rem 0;
            margin        : 0 1.25rem;

            &:hover {
                cursor    : pointer;
                opacity   : 0.8;
                transition: all .2s ease-in;
            }
        }

        .active {
            border-top: 3px solid var(--primary-color);
        }

        .search {
            flex           : 1;
            justify-content: flex-end;

            button {
                background: none;
                border    : 1px solid #ddd;
            }

            &-icon {
                padding      : 0.25rem 0.35rem;
                border-radius: 50%;

                svg.icon {
                    width : 15px;
                    height: 15px;
                }
            }

            .call {
                margin-left   : 1rem;
                font-weight   : bold;
                font-size     : 12px;
                text-transform: uppercase;
                padding       : 0.25rem 0.5rem;
                border-radius : 1rem;
            }
        }
    }

    .questionnaire {
        padding       : 3.75rem;
        display       : flex;
        flex-direction: column;
        align-items   : center;
        text-align    : center;

        .question {
            &__heading {
                font-size: 1.5rem;
            }

            &__q {
                font-size: 15px;
            }

            &__answer {
                display        : flex;
                flex-direction : column;
                align-items    : center;
                justify-content: space-between;
                border         : 1px solid #ddd;

                &--img {
                    padding: 1.75rem 0;
                }

                .answer {
                    padding-bottom: 1.75rem;
                }

                &:hover {
                    border          : 1px solid var(--primary-color);
                    background-color: var(--primary-color);
                    transition      : background-color .3s ease-in-out;
                    cursor          : pointer;

                    .answer {
                        font-weight: bold;
                        color      : white;
                    }
                }
            }
        }

        .actions {
            button.previous {
                background-color: white;
                border          : 1px solid #ddd;

                .icon {
                    fill: var(--primary-color);
                }
            }

            button.next {
                background-color: var(--primary-color);
                color           : white;
                width           : 9rem;
                margin-left     : 0.75rem;
            }
        }

        .progress {
            &__bar {
                position        : relative;
                width           : 295px;
                height          : 10px;
                background-color: #F5F6FA;

                &--slider {
                    width : 50%;
                    height: 100%;
                    top   : 0;
                    left  : 0;

                    position        : absolute;
                    background-color: var(--primary-color);
                }
            }

            &__actions {
                width          : 295px;
                display        : flex;
                justify-content: space-between;
                font-weight    : bold;
                font-size      : 13px;
                color          : var(--color-grey);
            }
        }
    }
}