<div class="main">
    <!-- Header -->
    <div class="header d-flex">
        <div class="logo" #logo>
            <h3 routerLink="/home">DV021.</h3>
        </div>

        <ul class="menu d-flex" #menu>
            <li class="menu__item"><a class="menu__link active">Menu 1</a></li>
            <li class="menu__item"><a class="menu__link">Menu 2</a></li>
            <li class="menu__item"><a class="menu__link">Menu 3</a></li>
            <li class="menu__item"><a class="menu__link">Menu 4</a></li>
            <li class="menu__item"><a class="menu__link">Menu 5</a></li>
        </ul>

        <div class="search d-flex" #search>
            <button class="search-icon">
                <svg class="icon icon-search">
                    <use href="../../../assets/svg/icons.svg#icon-search"></use>
                </svg>
            </button>
            <button class="call">Get In Touch</button>
        </div>
    </div>

    <!-- Questionnaire -->
    <div class="questionnaire">
        <!-- Question Header -->
        <div class="question" #questionContainer>
            <h3 class="question__heading">Question 2</h3>
            <div class="question__q mt-1">What is your estimate skill level?</div>
            <div class="question__answer bd-auto my-4" #answer>
                <div class="question__answer--img w-40 h-40">
                    <img src="../../../assets/images/minimal-questionnaire/circle.png" alt="answer image" width="100%">
                </div>
                <div class="answer f-16">Beginner</div>
            </div>
        </div>

        <!-- Main Actions -->
        <div class="actions d-flex" #actions>
            <button class="previous d-flex bd-auto">
                <svg class="icon icon-back w-32 h-32">
                    <use href="../../../assets/svg/icons.svg#icon-chevron-small-left"></use>
                </svg>
            </button>
            <button class="next bd-auto">Next</button>
        </div>

        <!-- Progress -->
        <div class="progress__bar bd-auto mt-4 mb-2" #slider>
            <div class="progress__bar--slider bd-auto" #progress></div>
        </div>

        <div class="progress__actions" #progress>
            <div class="p__actions-left">
                <span>Step 2</span>
                <span> Out of 3</span>
            </div>
            <div class="p__actions-right">
                <span>50</span>
                <span>%</span>
            </div>
        </div>
    </div>
</div>